body {
	font-family: sans-serif;
	padding: 5%;
	border: 1px;
	border-radius: 6px;
	background-color: rgb(237, 237, 237);
}

h1, 
h2 {
	color: maroon;
}

img {
	width: 100%;
}

blockquote {
	font-family: Georgia;
	background-color: rgb(237, 237, 237);
}

blockquote footer {
	color: gray;
}

ul {
	text-align: inline;
}

aside {
	background-color: rgb(237, 237, 237);
}

dt {
	float: left;
}

dd {
	float: left;
	margin: 0;
	padding: 0;
}