body {
	font-family: sans-serif;
}

main {
	padding: 5%;
	border: 1px;
	border-radius: 6px;
}

h1, 
h2 {
	color: maroon;
}

img {
	width: 100%;
}

blockquote {
	font-family: Georgia;
}

ul {
	text-align: inline;
}